In [1]:
path= r"D:\Asus\Documents\retail_clean (2).csv"

In [15]:
import pandas as pd
retailers= pd.read_csv(path, date_parser="InvoiceDate")

In [16]:
retailers.head(5)

,Unnamed: 0,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [17]:
retailers.describe()

,Unnamed: 0,Invoice,Quantity,Price,Customer ID,Revenue
count,7.794950e+05,779495.000000,779495.000000,779495.000000,779495.000000,779495.000000
mean,5.315660e+05,537427.005391,13.507085,3.218199,15320.262918,22.289821
std,3.110433e+05,26901.961110,146.540284,29.674823,1695.722988,227.416962
min,0.000000e+00,489434.000000,1.000000,0.000000,12346.000000,0.000000
25%,2.598405e+05,514483.000000,2.000000,1.250000,13971.000000,4.950000
50%,5.071680e+05,536754.000000,6.000000,1.950000,15246.000000,12.480000
75%,8.114895e+05,562002.000000,12.000000,3.750000,16794.000000,19.800000
max,1.067370e+06,581587.000000,80995.000000,10953.500000,18287.000000,168469.600000

In [18]:
retailers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   779495 non-null  int64
 1   Invoice      779495 non-null  int64
 2   StockCode    779495 non-null  object
 3   Description  779495 non-null  object
 4   Quantity     779495 non-null  int64
 5   InvoiceDate  779495 non-null  object
 6   Price        779495 non-null  float64
 7   Customer ID  779495 non-null  float64
 8   Country      779495 non-null  object
 9   Revenue      779495 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 59.5+ MB

In [20]:
retailers.head()

,Unnamed: 0,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [29]:
retailers['InvoiceDate'] = pd.to_datetime((retailers['InvoiceDate']).str.split(" ", expand=True
                                    )[0])

In [40]:
import numpy as np
grouped= retailers.groupby(['Description']).agg(mean_Quantity=("Quantity",np.mean), std_dev=("Quantity",np.std),totes_revenue=("Revenue", np.sum), totes_sales=("Quantity", np.sum)).reset_index()

In [41]:
# a= retailers.groupby(['Description']).agg(mean_Quantity=("Quantity",np.mean), std_dev=("Quantity",np.std)).reset_index()

In [42]:
grouped.head(100
            )

,Description,mean_Quantity,std_dev,totes_revenue,totes_sales
0,DOORMAT UNION JACK GUNS AND ROSES,3.274510,2.987162,1071.25,167
1,3 STRIPEY MICE FELTCRAFT,5.756522,8.822411,1241.10,662
2,4 PURPLE FLOCK DINNER CANDLES,6.230769,9.421742,495.16,324
3,50'S CHRISTMAS GIFT BAG LARGE,17.293578,37.765677,2272.25,1885
4,ANIMAL STICKERS,32.083333,11.758620,80.85,385
...,...,...,...,...,...
95,36 DOILIES SPACEBOY DESIGN,13.557692,28.034582,993.45,705
96,36 DOILIES VINTAGE CHRISTMAS,25.557756,54.725405,10590.40,7744
97,36 FOIL HEART CAKE CASES,10.463519,23.382312,4699.37,2438
98,36 FOIL STAR CAKE CASES,9.439024,18.677500,2740.04,1548
99,36 PENCILS TUBE POSY,4.275000,4.629823,213.75,171

In [39]:
import inventorize as inv

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [44]:
prod_mix=inv.productmix(skus= grouped['Description'],sales= grouped['totes_sales'],revenue=grouped['totes_revenue'])

In [45]:
prod_mix.columns

Index(['skus', 'sales', 'revenue', 'sales_mix', 'comulative_sales',
       'revenue_mix', 'comulative_revenue', 'sales_category',
       'revenue_category', 'product_mix'],
      dtype='object')

In [46]:
prod_mix['product_mix'].value_counts()

C_C    2394
A_A     775
B_B     632
C_B     413
B_C     325
A_B     317
B_A     288
C_A      74
A_C      65
Name: product_mix, dtype: int64

In [50]:

mappings= {'A_A':0.95,'C_A':0.90,'B_A':0.85,'A_B':0.80,'B_C':0.75,'C_B':0.7,'B_B':0.65,'A_A':0.60,'C_C':0.55}

In [55]:
prod_mix['Service_Levels']=prod_mix['product_mix'].map(mappings)

In [56]:
prod_mix.head()

,skus,sales,revenue,sales_mix,comulative_sales,revenue_mix,comulative_revenue,sales_category,revenue_category,product_mix,Service_Levels
3769,REGENCY CAKESTAND 3 TIER,24139,277656.25,0.002293,0.177816,0.015980,0.015980,A,A,A_A,0.6
5047,WHITE HANGING HEART T-LIGHT HOLDER,91757,247048.01,0.008715,0.018705,0.014219,0.030199,A,A,A_A,0.6
3129,"PAPER CRAFT , LITTLE BIRDIE",80995,168469.60,0.007693,0.026398,0.009696,0.039895,A,A,A_A,0.6
2860,Manual,9391,151777.67,0.000892,0.424068,0.008736,0.048631,A,A,A_A,0.6
2392,JUMBO BAG RED RETROSPOT,74224,134307.44,0.007050,0.048279,0.007730,0.056361,A,A,A_A,0.6

In [57]:
prod_mix.shape

(5283, 11)

In [58]:
grouped.shape

(5283, 5)

In [63]:
merged_df=pd.merge(grouped, prod_mix[['skus','Service_Levels']], how='inner',left_on='Description', right_on='skus')

In [70]:
list1=[]
for i in range(merged_df.shape[0]):
    list1.append(inv.reorderpoint(dailydemand=merged_df.loc[i,'mean_Quantity'],dailystandarddeviation=merged_df.loc[i,'std_dev'],leadtimein_days=14,csl=merged_df.loc[i,'Service_Levels']))

In [71]:
merged_df['Reorder_Point']= list1

In [72]:
merged_df['Reorder_Point'][0]

{'demandleadtime': 45.84313725490196,
 'sigmadl': 11.176937038769946,
 'safteyfactor': 0.5244005127080407,
 'reorder_point': 51.70432876853841}